.dashboardBg{
    background: #fdfdfd;
}
.box{
    padding:25px;
    box-shadow:0px 0px 8px #ddd;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 300px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f9f9f9;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    top:73px;
    border-right: 1px solid #f1f1f1;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav>.sidebar-brand {
    height: 165px;
    font-size: 18px;
    line-height: 1;
}
.sidebar-nav>.sidebar-brand .upload-btn-wrapper input[type=file] {
   
    position: absolute;
    left: 0;
    top: -3px;
    opacity: 0;
    height: 105px;
    width: 118px;
    right: 0;
    margin: 0 auto;
    cursor: pointer;
}


.sidebar-nav>.sidebar-brand .upload-btn-wrapper {
    margin: 0 auto 20px;
    text-align: center;
}
.sidebar-nav>.sidebar-brand img.profile-image {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
    position: inherit;
    /* top: 66px; */
    /* left: 0; */
    /* right: 0; */
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid #fff;
    display: block;
}

.sidebar-nav li {
   
    list-style-position: outside;
    padding: 15px 0 15px 20px;
    border-bottom:1px solid #f1f1f1;
    display: block;
    border-left:4px solid #f6f6f6;
}
.sidebar-nav li a{
    color:#666 !important;
}
.sidebar-nav li:hover a{
    color: #003056 !important;
}
.sidebar-nav li:hover , .activeMenu{
    background:#f1f1f1;
    border-left:4px solid #337ab7;
}
.sidebar-nav li.sidebar-brand:hover {
    background:#f1f1f1;
    border-left:4px solid #f1f1f1;
}
#wrapper #page-content-wrapper {
     margin-left: 300px;
     padding-top:20px;
     padding-bottom:30px;
}
.sidebar-nav .upload-btn {
    display:none;
    padding-top: 50px;
}
.userName{
    font-size:15px;
    text-align: center;
    font-weight:400;
    margin: 0 24px 0 0;
}
input.actionBtn {
    border-radius: 20px;
    padding: 7px 20px;
    border: 0;
    margin: 10px !important;
    width:140px;
    text-align: center;
    color:#fff;
}

/* page content */
.uploadPic{
    text-align:left;
}
.uploadPic .profile-image{
    position: inherit;
    border: 2px solid #45b5ff;
    width:150px;
    border-radius: 0 !important;
}
.uploadPic .upload-btn-wrapper{
    margin: 0 20px 20px 0;
    text-align: left;

}
.uploadPic .upload-btn{
    margin-top:0 !important;
    width:150px;
    border-radius: 0 !important;
    background: #45b5ff;
}
.uploadPic .upload-btn-wrapper input[type=file]{
    margin: 0;
    width: 150px;
    top: 18px;
    left: 30px;
    
}
.dashboard label{
    font-weight: 500;
    color:#777;
}
.dashboard button{
    color:#fff;
}
.subHead{
    font-weight: 400;
    border-bottom:1px solid #ddd;
    margin-bottom: 25px;
    color:#777;
    font-size:20px;
    text-transform: capitalize;
}
.notificationPage .block{
    background: #fff;
    padding:10px 20px;
    margin-top:15px;
    border-top:3px solid #f4de87;
    box-shadow: 0 0 4px #ccc;
    /* color: #666; */
}
.checkbox-item {
    display: inline-block;
    margin-top: -5px;
    margin-right: 15px;
}
input[type=checkbox]+label {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 14px;
}

input[type=checkbox] {
    display: none;
}
 .checkbox-item input[type=checkbox]+label {
    padding-left: 15px;
    color: #839094;
    font-weight: 400;
}
input[type=checkbox]+label:before {
    content: "";
    display: block;
    position: absolute;
    left: -10px;
    top: 0;
    background: #fff;
    border: 1px solid #cad7dc;
    box-shadow: inset 0 1px 2px 0 hsla(0,0%,75%,.5);
    border-radius: 3px;
    height: 16px;
    width: 16px;
}

input[type=checkbox]:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    height: 13px;
    width: 17px;
    background: url(/images/checkbox-tick.svg) no-repeat;
    top: 0;
    left: -7px;
}
input[type=checkbox]{
    font-size: 14px;
    font-family: museo_sans,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: 300;
    border: 1px solid #cad7dc;
    background: #fff;
    box-shadow: inset 0 1px 2px 0 hsla(0,0%,75%,.5);
    border-radius: 4px;
    min-height: 40px;
    padding: 14px 12px;
    animation: shadowFadeIn .125s ease-in-out;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.personalInfo{position:relative;}
.personalInfo .radio, .myAlert .radio{
    display: inline-block;
    float:left;
    margin-right: 30px;
}
.myAlert .radio + .radio{
    margin-top:10px;
}
.personalInfo .radio:first-child{
    margin-left: 5px;
}
/* footer{
    display:none !important;
} */
.greenBtn{
    background: #d8e4be;
}
.typeBlk .radio label , .myAlert .radio label{
    min-height: 20px;
    padding-left: 25px;

}
.typeBlk .radio input[type="radio"] , .myAlert .radio input[type="radio"]
{
    position: absolute;
    margin-top: 4px \9;
    margin-left: -15px;
}
.MarT{
    margin-top:18px;
}
.cardBlk span{
    display: inline-block;
}
/* payment */
.paymentPage .tabBlockGrey{
    background: #f1f1f1;
}
.paymentPage .tabBlockGrey .nav-tabs > li.active a, .paymentPage .tabBlockGrey .nav-tabs > li.active a.active,
.paymentPage .tabBlockGrey .nav-tabs > li.active > a:hover, .paymentPage .tabBlockGrey .nav-tabs > li.active > a:focus ,
.paymentPage .tabBlockGrey .nav-tabs > li a:hover{
    
border-bottom:2px solid #fac940 !important;
background: transparent;
border:0;
}
.paymentPage .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    font-weight: 400;
    text-transform: capitalize;
    
    margin-right: 3px;
 
}
.paymentPage .tab-content{color:#555;}
.paymentPage #myTab{margin:20px 0;color:#555;text-transform: capitalize;}
.paymentPage .tabBlockGrey.center{
text-align:center;
}
.paymentPage .nav-tabs > li.active > a, .paymentPage .nav-tabs > li.active > a:hover, .paymentPage .nav-tabs > li.active > a:focus {
    
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    font-weight:500;
    color:#777 !important;
}
.paymentPage .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #fff !important;
    background: #45b5ff;
}
.paymentPage .nav > li > a:hover, .paymentPage .nav > li > a:focus{
    background: #45b5ff;
}
.cardBlk .lightBlue {
margin-left: 32px !important;
display: inline-block;
margin-top: 2px !important;
}
 /* payment */

#myTab , select{
    width: 100%;
   
}
.plusBg {
    background: #45b5ff;
    color: #003056;
    padding: 5px;
    font-weight: 400;
    margin-top: 10px;
}
.splitter-section-name{
    font-weight: 500;
}
.add-credit-card span{
    display:inline-block;
    padding-left: 10px;
    font-weight: 400;
font-size:15px;}


/* payment */

.redBtn{
    background:#f44336;
    box-shadow: none;
    color:#fff !important;
}
.dashboard .mobile .lightBlue{
    color:#fff !important;
}
.dashboard .mobile .verificationBlk button.redBtn, .dashboard .mobile .verificationBlk button.lightBtn{
    margin-top:25px !important;
}
.dashboard .mobile, .dashboard .skills,  .dashboard .paymentPage, .dashboard .badges, .referFriend{
    color:#777;
}
.lightBtn{
    background:#999;
    border:1px solid #999;
}
.rel{position:relative;}
:focus {
    outline: none;
  }
.input {
    border: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    border-radius:0;
  }

.input ~ .border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #45b5ff;
  }
  textarea.input ~ .border {
    bottom: 5px !important;
  }

  .input:focus ~ .border {
    width: 100%;
    transition: 0.5s;
  }

  /* button */
  .lightBlue.hvr-grow-shadow:hover, .lightBlue.hvr-grow-shadow:focus, .lightBluehvr-grow-shadow:active {
    /* box-shadow: 0 10px 10px -10px #68b8f7; */
    box-shadow: 0 10px 15px -5px rgba(65,164,242,0.8);
    /* #41a4f2; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.lightBtn.hvr-grow-shadow:hover, .lightBtn.hvr-grow-shadow:focus, .lightBtn.hvr-grow-shadow:active {
    /* box-shadow: 0 10px 10px -10px #68b8f7; */
    box-shadow: 0 10px 15px -5px rgba(164, 169, 173, 0.8);
    /* #41a4f2; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.redBtn.hvr-grow-shadow:hover, .redBtn.hvr-grow-shadow:focus, .redBtn.hvr-grow-shadow:active {
    /* box-shadow: 0 10px 10px -10px #68b8f7; */
    box-shadow: 0 10px 15px -5px rgba(236, 127, 127, 0.8);
    /* #41a4f2; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
  /* button */

  .skills .notification-options{
    padding:10px 0 0 0;
  }
  .password{
      margin-top: 50px;
  }
  .deactivate{
      width:165px !important;
  }
  /* badges */
  .badgesHead{
      margin:40px 0 15px 0;
  }
  .badgesBlk .col-md-6{
      padding-right:40px;
  }
  .badgesBlk .lightBlue, .skills .lightBlue{
      margin-left: 0 !important;
  }
  .referFriend .block {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0px 1px 6px #ccc;
    box-shadow: 0px 1px 6px #ccc;
    border-radius: 5px;
    margin: 6px;
    text-align: center;
    padding-top: 36px;

}
.process{
    margin-top:60px
}
.referFriend .numberTxt {
    font-size: 40px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -27px;
    background: #45b5ff;
    border-radius: 50%;
    width: 65px;
    text-align: center;
    height: 65px;
    line-height: 65px;
}
.form-horizontal .btnGroup{
    margin-left:-7px;
}
.notificationPage .notification-options{
    text-align:right;
}

.checked {
    color: orange;
}